<div class="roster-container">
  <div class="roster-header">
    G2 Crowd Team Roster
  </div>

  <div class="roster-data">
    <% @users.each do |user| %>
      <div class="roster-data-container">
        <span class="roster-image"><%= image_tag(user.image_url, size: "200x200") %></span>
        <p class="roster-name"><%= user.name %></p>
        <p class="roster-title"><%= user.title %></p>
        <p class="roster-bio"><%= user.bio %></p><br>
        <span class="roster-vote"><strong>Want to work with <%= user.name %>?</strong></span><span class="button"><%= button_to 'Yes!', html_options: :disabled %></span><br>
        <span class="vote-count"><%= user.vote_count %> people have said Yes!</span>
      </div>
    <% end %>
  </div>
</div>
