<div class="roster-container">
  <div class="roster-header">
    G2 Crowd Team Roster
  </div>

  <div class="roster-data">
    <% @users.each do |user| %>
      <ul class="roster-data-list">
        <span class="roster-image"><%= image_tag(user.image_url, size: "200x200") %></span>
        <span class="roster-name"><%= user.name %></span><br><br>
        <span class="roster-title"><%= user.title %></span><br><br>
        <span class="roster-bio"><%= user.bio %></span><br><br>
        <span class="roster-vote"><strong>Want to work with <%= user.name %>?</strong></span><br>
        <span class="vote-count"><%= user.vote_count %> people have said Yes!</span>
      </ul>
    <% end %>
  </div>
</div>
