<div class="roster-container">
  <div class="roster-header">
    G2 Crowd Team Roster
  </div>

  <div class="roster-data">
    <% @users.each do |user| %>
      <div class="roster-data-container">
        <span class="roster-image"><%= image_tag(user.image_url, size: "200x200") %></span>
        <p class="roster-name"><%= user.name %></p>
        <p class="roster-title"><%= user.title %></p>
        <p class="roster-bio"><%= user.bio %></p><br>
        <span class="roster-vote"><strong>Want to work with <%= user.name %>?</strong></span><span class="vote-link"><%= link_to "Yes!", {:controller => "roster", :action => "create", :user_id => user.id}, :method => :post, :remote => true %></span><br>
        <span class="vote-count" id="<%= user.id %>"><%= user.vote_count %></span> <span class="vote-exclaim">people have said Yes!</span>
      </div>
    <% end %>
  </div>
</div>
